    :root {
    --d: 0s;
    --b: 100%;
    --bg-color: #1c1c1c;
    --card-bg: #2c2c2c;
    --text-color: #ffffff;
    --circle-color: #65b4da;
    --circle-bg: #3b3b3b;
    --start-color: #87CEFA;
    --pause-color: #FF6347;
    --resume-color: #87CEFA;
    --reset-color: #3b3b3b;
    --start-text-color: #2c2c2c;
    --resume-text-color: #2c2c2c;
    }
    
    @property --a {
        syntax: '<percentage>';
        inherits: false;
        initial-value: 100%;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        background-color: var(--bg-color);
        color: var(--text-color);
        font-family: Arial, sans-serif;
    }
    
    .flex-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    
    .timer-container {
        text-align: center;
        background-color: var(--card-bg);
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    }
    
    .timer-container button {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 18px;
        padding: 10px 20px;
        margin: 5px;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    #start {
        background-color: var(--start-color);
        color: var(--start-text-color);
    }
    
    #pause,
    #resume {
        width: 120px;
        display: none;
        padding: 10px 20px;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    #pause {
        background-color: var(--pause-color);
        color: var(--text-color);
    }
    
    #resume {
        background-color: var(--resume-color);
        color: var(--resume-text-color);
    }
    
    #reset, #cancel, #restart {
        background-color: var(--reset-color);
        color: var(--text-color);
    }
    
    .timer-container button:hover {
        opacity: 0.9;
    }
    
    .timer-clock {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 52px; 
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 52px;
        margin-bottom: 20px;
    }
    
    #hidden-setting, #hidden-clock {
        position: relative;
    }
    
    .cont {
        transition: all 0.3s linear;
        display: block;
    }
    
    .hidden {
        display: none;
    }
    
    .visuallyhidden {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }
    
    .fade-in {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s ease-in-out;
    }
    
    .fade-out {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s ease-in-out;
    }
    
    .timer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 30px auto;
        font-size: 2.5vmin;
    }
    
    .donat {
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        border: 1.5vmin solid transparent;
    }
    
    .outer-circle {
        width: 100%;
        background: linear-gradient(var(--card-bg), var(--card-bg)) content-box no-repeat,
                    conic-gradient(var(--circle-color) var(--a), 0, var(--circle-bg)) border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 1s linear;
    }
    
    .outer-circle.switch {
        transition: --a var(--d) linear;
        --a: var(--b) !important;
        background: linear-gradient(var(--card-bg), var(--card-bg)) content-box no-repeat,
                    conic-gradient(var(--circle-color) var(--a), 0, var(--circle-bg)) border-box !important; 
    }
    
    .clock-timer {
        font-size: 10vh;
    }
    
    input[type="time"] {
        margin: 0 5px 20px 5px;
        text-align: center;
        font-size: 24px;
        padding: 5px 15px;
        border: 1px solid var(--button-bg);
        border-radius: 5px;
        background-color: var(--card-bg);
        color: var(--text-color);
    }
    
    input[type="time"]::-webkit-calendar-picker-indicator {
        display: block;
        top: 0;
        right: 0;
        height: 100%;
        width: 70%;
        position: absolute;
        background: transparent;
    }

    @keyframes flash {
        0% { background-color: red; }
        50% { background-color: white; }
        100% { background-color: red; }
      }
      
      body.flash {
        animation: flash 1s infinite;
      }
    
    
    #timer-text {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
    }
    
    .time-input {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 22px;
    }

      button:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }

      footer {
        position: sticky;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        padding: 10px;
        background-color: #181818;
        color: white;
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-size: 16px;
    }

.datetimepicker {
    background-color: #b40e0e;
    color: #ffffff;
}

.datetimepicker .datepicker table tr td.active, 
.datetimepicker .datepicker table tr td.active:hover {
    background-color: #5cb85c;
    color: #ffffff;
}

.datetimepicker .datepicker table tr td:hover {
    background-color: #4e5452;
}

.datetimepicker .timepicker .bootstrap-timepicker-widget {
    background-color: #2c2c2c;
    color: #ffffff;
}

.datetimepicker .bootstrap-timepicker-widget .btn {
    background-color: #007bff;
    color: #ffffff;
    border: none;
}

.datetimepicker .bootstrap-timepicker-widget .btn:hover {
    background-color: #0056b3;
}

.form-control {
    background-color: var(--card-bg);
    color: var(--text-color);
    border: 1px solid var(--start-color);
    width: 6em;
    margin: 20px auto;
    text-align: center;
    font-size: 24px;
    padding: 5px 15px;
    border: 1px solid var(--button-bg);
    border-radius: 5px;
    background-color: var(--card-bg);
    color: var(--text-color);
    box-shadow: none;
}

.bootstrap-datetimepicker-widget {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, -85%);  
    z-index: 1050;
}

.bootstrap-datetimepicker-widget {
    max-width: 90vw;
    max-height: 90vh;
    overflow: auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
